/* oncoming fist
&#x1f44a
vulcan salute
&#x1F596 */

:root {
    --rock: &#x1f44a;
    --paper: &#x1f590;
    --scissors: &#x270c;
}

body {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    background-color: rgb(255, 252, 238);
}

h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

button {
    font-weight: 900;
    font-size: 2rem;
    min-width: 200px;
    margin: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border:  .3rem solid black;
    padding: 7px 20px;
    transition-duration: 0.3s;
    font-family: 'Courier New', Courier, monospace;

}

button:hover {
    background-color: #bbbbbb;
    transform: scale(1.1);
    cursor: pointer;
}

.score {
    margin: 20px;
    font-weight: 700;
}

.scoreboard {
    font-size: 3rem;
    margin-bottom: 30px;
    margin-top: 8px;
}

.text-results {
    margin: 20px;
    font-size: 1.8rem;
}

.round-results {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 7rem;
}

.emoji {
    font-size: 7rem;
    min-width: 150px;
}

.emoji.versus {
    font-size: 6rem;
}

.player-name {
    font-size: 4rem;
    padding: 0 0.1em;
    /* font-weight: 900; */
    /* margin-bottom: 1em; */
}